{# empty Twig template #}

<h1>Consola en HTML</h1>
<hr>

<h3>Drop Database</h3>
{{ consolaD | raw }}
<br/>
<h3>Create Database</h3>
{{ consolaC | raw }}
<br/>
<h3>Update Schema</h3>
{{ consolaU | raw }}
<br/>
